
@model PagerModel


<div class="container btn-group" style="background-color:aquamarine; border-radius:10px;height:45px;">

    <div class="col-4 p-0 justify-content-end mt-1">

    <form asp-action="index">
        <span class="btn-group">
            <input class="form-control" type="text" 
                name="SearchText"
                value="@ViewBag.SearchText"
                placeholder="search key"/>
            <input class="p-1 m-l btn btn-sm btn-primary" style="border-radius:10px;"
                type="submit" value="Search" />
        </span>
    </form>
</div>

    <div class="container mt-1">
    <ul class="pagination justify-content-end">
            @if(Model.CurrentPage > 1)
            {
                <li class="page-item">
                <a class="page-link" asp-action="@Model.Action" 
                    asp-route-pg="1" asp-route-pageSize="@Model.PageSize" 
                    asp-route-SearchText="@Model.Search">
                    First
                </a>
                </li>

                <li class="page-item">
                <a class="page-link" asp-action="@Model.Action" 
                    asp-route-pg="@(Model.CurrentPage-1)" asp-route-pageSize="@Model.PageSize" 
                    asp-route-SearchText="@Model.Search">
                    Previous
                </a>
                </li>
            }

        @for(var pge = Model.StartPage; pge <= Model.EndPage; pge++)
        {
         <li class="page-item @(pge==Model.CurrentPage ?"active":"")">
                @if(pge != Model.CurrentPage)
                {
                    <a class="page-link" asp-action="@Model.Action" 
                    asp-route-pg="@pge" asp-route-pageSize="@Model.PageSize" 
                    asp-route-SearchText="@Model.Search">
                    @pge
                    </a>
                }
                else
                {
                    <span class="page-link">@pge</span>
                }
                
        </li>
        }
        @if(Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                <a class="page-link" asp-action="@Model.Action" 
                    asp-route-pg="@(Model.CurrentPage+1)" asp-route-pageSize="@Model.PageSize" 
                    asp-route-SearchText="@Model.Search">
                    Next
                </a>
                </li>

                <li class="page-item">
                <a class="page-link" asp-action="@Model.Action" 
                    asp-route-pg="@(Model.TotalPages)" asp-route-pageSize="@Model.PageSize" 
                    asp-route-SearchText="@Model.Search">
                    Last
                </a>
                </li>
            }
    </ul>
</div>
</div>